* {

    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;

}

html{
    
    width: 100vw;
    background-color: #e8e8ea;

}


/*                                                     iframe                                                   */
iframe{
    background-color: white;
    margin-top: 8.5vh;
    width: 100%;
    min-height: 83vh; /* 100 - 2 * 8,5 */
}


/*                                                    bottom menue                                               */
.bot_menue{
    display: grid;
    grid-column-gap: 12.6vw;
    grid-template-columns: auto auto auto auto auto;

    position: fixed;
    bottom: 0;
    
    background-color: #dbdbdb;
    
    width: 100%;
    padding: 2vh 4vw;
}

.bot_menue > .menue_icon_bot{
    width: 4.5vh;
    height: 4.5vh;

}

.menue_icon_bot > img{
    width: inherit;
    height: inherit;

}

/*                                                     top menue                                                    */

.top_menue{
    display: inline-block;
    position: fixed;

    text-align: center;

    background-color: #dbdbdb;

    width: 100%;

    padding: 2vh 4vw;

}

.top_menue > h1{
    display: inline-block;
    font-size: 1.2rem;

    margin-top: .45vh;

}

.menue_icon_left{
    width: 4.5vh;
    height: 4.5vh;
    
    float: left;
}


.menue_icon_left > img{
    width: inherit;
    height: inherit;
}

.menue_icon_right{

    width: 4.5vh;
    height: 4.5vh;
    
    float: right;
}

.menue_icon_right > img{
    width: inherit;
    height: inherit;
}