
.headGuthaben{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: initial;
    color: #545454;
    padding-left: 15px;
    margin-top: 30px;
    margin-left: -8px;
    box-sizing: border-box;
    height: 28px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.guthaben{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: #545454;
    background-color: white;
    padding-top: 1px;
    padding-left: 25px;
    margin-left: -8px;
    border-bottom: 1px solid rgb(214, 214, 214);
    
}

.headPersonal{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: initial;
    color: #545454;
    padding-left: 15px;
    margin-top: 30px;
    margin-left: -8px;
    box-sizing: border-box;
    height: 28px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.personalData{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: #545454;
    background-color: white;
    padding-top: 1px;
    padding-left: 25px;
    margin-left: -8px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.headStudienfortschritt{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: initial;
    color: #545454;
    padding-left: 15px;
    margin-top: 30px;
    margin-left: -8px;
    box-sizing: border-box;
    height: 28px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.studienfortschritt{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: #545454;
    background-color: white;
    padding-top: 1px;
    padding-left: 25px;
    margin-left: -8px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
