* {
    box-sizing: border-box;
    margin-right: 0;    
}

html{
    
    width: 100%;
    background-color: #e8e8ea;

}

.headEinstellungen{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: initial;
    color: #545454;
    padding-left: 15px;
    margin-top: 30px;
    margin-left: -8px;
    box-sizing: border-box;
    height: 28px;
    border-bottom: 1px solid rgb(214, 214, 214);    
}

.mitteilungen{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: #545454;
    background-color: white;
    padding-top: 1px;
    padding-left: 25px;
    margin-left: -8px;
    border-bottom: 1px solid rgb(214, 214, 214);
}


.toggle_button1 {
    position: absolute;
    padding-left: 280px;
    padding-top: 12px;
   
}

.toggle_button2 {
    position: absolute;
    padding-left: 280px;
    padding-top: 63px;
   
}

.aktualisierung{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: #545454;
    background-color: white;
    padding: 2.5vh 0vh;
    padding-left: 25px;
    margin-left: -8px;
    margin-top: 40px;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
}

.aktualisierung > .left{
    float: left;

}

.aktualisierung > .right{
    margin: -3.6vh 3vw;
    float: right;

}

.abruf{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: #545454;
    background-color: white;
    padding-top: 1px;
    padding-left: 25px;
    margin-left: -8px;
    margin-top: 40px;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214); 
}

.startscreen{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: #545454;
    background-color: white;
    padding-top: 1px;
    padding-left: 25px;
    margin-left: -8px;
    margin-top: 40px;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214); 
}